.newsletter__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
  margin: 0 auto;
  text-align: center;
}

.newsletter__container > .newsletter__text {
  width: 70%;
}

.newsletter__container > .newsletter__text > p {
  margin-top: 1rem;
  font-size: 15px;
  text-align: center;
  color: var(--text-color);
}
