.auth{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #14162E url(../../../public/images/Background.png) no-repeat center;
    background-size: 100% 100%;
}

.auth > .auth__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    width: 100%;
    height: 100%;
}

.auth > .auth__container > .auth__text{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;

    color: #FFFFFF;
}

.auth > .auth__container > .auth__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: fit-content;
    transition: display 0.5s ease-out;
}

.auth > .auth__container > .auth__form > h1 {
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 1rem;
}

.auth > .auth__container > .auth__form > form{
    transition: display 0.5s ease-out;
}

.auth > .auth__container > .auth__form > form > p{
    margin: 1rem 0;
    align-self: flex-end;
    color: #ffffff;
    text-align: right;
    font-size: 0.8rem;
}

.auth > .auth__container > .auth__form > .auth__option{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.auth > .auth__container > .auth__form > .auth__option > .cont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem 0;
}

.auth > .auth__container > .auth__form > .auth__option > .cont > div{
    border: 0.986646px solid #DFDFDF;
    width: 30%;
}

.auth > .auth__container > .auth__form > .auth__option > .cont > p{
    color: #DFDFDF;
    font-size: 0.8rem;
}

.auth > .auth__container > .auth__form > .auth__option > .auth__social{
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth > .auth__container > .auth__form > .auth__option > .auth__social > button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem 3rem;
    border-radius: 10px;
    border: none;
    margin: 0 0.5rem;
    background: #fff;
    cursor: pointer;
}

.auth > .auth__container > .auth__form > .auth__option > .auth__social > button> svg {
    width: 2rem;
    height: 2rem;
}

.auth > .auth__container > .auth__form > p{
    margin-top: 1rem;
    align-self: flex-end;
    color: #ffffff;
    text-align: right;
    font-size: 0.8rem;
}

.auth > .auth__container > .auth__form > p > a{
    color: #4461F2;
    text-decoration: none;
    cursor: pointer;
}
