:root {
    /* Primary Colors */
    --primary-blue: #2A72DD;
    --secondary-blue: #4461F2;
    --bg-color-light: #ffffff;
    --text-color: #333333;

  
    /* Secondary Colors */
    --secondary-orange: #ff6600;
    --secondary-purple: #6600cc;
    --secondary-yellow: #ffff00;
  
    /* Neutral Colors */
    --neutral-white: #ffffff;
    --neutral-black: #000000;
    --neutral-gray: #808080;
  
    /* Background Colors */
    --bg-color-light: linear-gradient(96.14deg, #3A8EF6 -10.84%, #6F3AFA 196.74%);
    --bg-color-dark: #222222;
  
    /* Text Colors */
    --text-color-light: #404040;
    --text-color-dark: #ffffff;

    --font-satoshi: 'Satoshi', sans-serif;
    --font-inter: 'Inter', sans-serif;
  }