@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url(./colors.css);
@import url(./satoshi.css);

:root {
  --background-color: var(--very-dark-blue);
  --background-image: var(--bg-image-dark-lg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--very-dark-blue);
    --background-image: var(--bg-image-dark-lg);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'satoshi', sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  z-index: 999999999999999;
  padding: 0 2rem;
  width: 100vw;
}

button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8f8f8;
}
