.appointments{
    width: 100%;
    height: 4rem;
    background: linear-gradient(80.17deg, #14162E 7.38%, #14162E 92.62%);
    border: 1px solid #F0F0F0;
    border-radius: 16.3861px;
}

.appointment {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #FFFFFF;
    border-radius: 10.2413px;
}

.appointment_profile_pic{
    width: 3rem;
    height: 3rem;
    margin: 0 1rem;
}

.appointment_profile_pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}