.section{
    /* padding: 0 0 0 0; */
    margin: 4em;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.section >*{
    margin: 0 1em;
    width: 50%;
}
.btn{
    margin: 1vw;
    background-color: blue;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn2{
    margin: 1vw;
    background: none;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 25px;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
}
.section img{
    width: 400px;
    height: auto;
    /* border-radius: 50%; */
    object-fit: cover;
}
.function-info{
    width: 210px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
    border-radius: 10px;
    position: relative;
}