.my_patients {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  height: 300px;
}

.header{
    height: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
  font-size: .8rem;
  font-weight: bold;
}

.see_all {
    font-size: .5rem;
  text-align: center;
  cursor: pointer;
}

.see_all:hover {
  text-decoration: underline;
}
    

.patient-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.patient {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  background-color: #f4f4f4;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.patient:hover {
  background-color: #e0e0e0;
}

.profile_pic {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.profile_pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.patient_details {
  display: flex;
  flex-direction: column;
}

.patient_details h3{
  font-weight: bold;
  font-size: .7rem;
}

.patient_details p {
  font-size: .5rem;
}

