
.sidebar {
    height: 100%;
    width: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar__item{
    height: 2rem;
    width: 3rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.sidebar__item.active{
    background: #FF0000;
    background: #FFFFFF;
    opacity: 0.8;
    border-radius: 8.19307px;
}

.sidebar__item__icon{
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar__item__icon svg{
    fill: #FFFFFF;
    width: 1.5rem;
    height: 1.5rem;
}

.sidebar__item.active .sidebar__item__icon svg{
    fill: #14162E;
}


